{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a fresh graduate student Bachelor in Business Administration concentration in finance who is interested in financial technology, especially blockchain technology.</p>
        <p>I have been studying extra for programing skills that I currently could understand and develop Python and Solidity. Moreover, I have experience developing algorithmic trading, and some Smart Contract projects include Crowdfunding, auction, supply chain tracking, and ERC20 token.</p>
        <p>I plan to study more about front-end and JavaScript to develop an entire decentralized finance project.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}